body{
    display: flex;
    justify-content: center;
    margin: 15px;
    background-color: black;
}
#container{
    margin: 80px;
    border: none;
    border-radius: 10px;
    background-color: rgb(44, 42, 42);
    color: white;
    min-height: auto;
}
#container h1{
    display: flex;
    justify-content: center ;
}
#input-container{
    display: flex;
    justify-content: center;
    padding-inline: 10px;
    justify-content: space-around;
    gap: 8px;
}
#ip-box{
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0px;
    padding-inline: 30px;
}
#task-container li{
    border: none;
    border-radius: 5px;
    display: flex;
    background-color: rgb(73, 72, 72);
    justify-content: space-between;
    padding-inline: 10px;
    height: 35px;
    margin-left: 2px;
    margin-right: 40px;
}
#task-lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: black; */
    /* background-color: grey; */
}
#add-task-btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(165, 22, 165);
    padding: 3px;
    padding-inline: 30px;
    cursor: pointer;
}
#add-task-btn:hover{
    background-color: rgb(205, 41, 205);
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-right: 20px;
}
li button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    height: 25px;
    padding: 10px;
    padding-inline: 10px;
    font-size: 15px;
    cursor: pointer;
}
li button:hover{
    background-color: red;
}
.completed p{
    text-decoration: line-through;
}
body {
    margin: 0;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url('image.jpg') no-repeat center/cover;
    filter: blur(10px);
    z-index: -1;
}